section.about
  .same_landing
    background-image: url('../img/about_landing.jpg')
    
  
  .about_main_box
    display: grid
    grid-gap: 122px
    padding: 105px 0 190px
    .single_about
      display: flex
      .single_img
        width: 486px
        height: 420px
        flex: none
        position: relative
        z-index: 5
        margin-right: -75px
        img
          width: 100%
          height: 100%
          object-fit: cover
      
      .single_content
        display: flex
        flex-direction: column
        grid-gap: 24px
        color: $white
        background-color: $blue
        padding: 32px 0 112px
        padding-left: 102px
        padding-right: 32px
        transform: translateY(50px)
        p.head_content
          +o-b
          font-size: 24px
          line-height: 36px
        p.body_content
          +o-r
          font-size: 18px
          line-height: 27px
      
      &:nth-of-type(2n)
        flex-direction: row-reverse
        .single_img
          margin-right: unset
          margin-left: -75px
        .single_content
          padding-left: 32px
          padding-right: 102px
  
  .swiper
    .swiper-slide
      .slide_inner
        display: flex
        align-items: center
        .slide_img
          width: 485px
          height: 512px
          flex: none
          img
            width: 100%
            height: 100%
        
        .slide_content
          padding: 32px 32px 80px 25px
          background-color: $blue
          height: max-content
          p
            color: $white
          .slide_heading
            display: flex
            flex-direction: column
            grid-gap: 4px
            margin-bottom: 24px
            p.name_person
              +o-b
              font-size: 24px
              line-height: 36px
            p.qual_person
              +o-r
              font-size: 16px
              line-height: 24px
          
          p.content_text
            +o-r
            font-size: 18px
            line-height: 27px
    
  .swiper_help_pagination_navigation
    +flex_1
    margin: 50px 0 90px
    .swiper-pagination
      +flex_2
      grid-gap: 16px
      position: relative
      bottom: unset
      top: 0
      .swiper-pagination-bullet
        margin: 0
        width: 36px
        height: 6px
        border-radius: 0
        background-color: $blue
        opacity: .7
        &.swiper-pagination-bullet-active
          opacity: 1
          
    .swiper_btn
      width: 22px
      height: 36px
      display: flex
      &.swiper-next-button
        transform: rotate(180deg)

      &.swiper-button-disabled
        opacity: .3
