section.fag
  .fag_landing
    background-image: url('../img/fag_landing.png')

  .fag_ul_box
    margin: 72px auto
    max-width: 1000px
    ul
      width: 100%
      display: grid
      grid-gap: 32px
      li
        border: 2px solid $blue2
        border-radius: 6px
        .link
          +flex_1
          padding: 16px 22px
          cursor: pointer
          p.link_accordion
            +o-r
            font-size: 22px
            line-height: 33px
            color: $blue2
          
          button
            background-image: url('../img/plus.svg')
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            width: 20px
            height: 20px
        
        .submenu
          display: none
          padding: 0 80px 48px 22px
          .submenu_inner
            +o-r
            font-size: 18px
            line-height: 27px
            color: $text_blue
        
        &.open
          background: $link_blue
          .link
            button
              background-image: url('../img/minus.svg')