footer
  padding: 72px 0
  background-color: $blue
  margin-top: auto
  .footer_main_container
    display: flex
    align-items: flex-start
    grid-gap: 150px
    .footer_block
      display: flex
      flex-direction: column
      grid-gap: 32px
      p.heading_block
        +o-b
        font-size: 24px
        line-height: 36px
        color: $white
      
      ul
        display: flex
        flex-direction: column
        grid-gap: 12px
        li
          a
            +o-r
            font-size: 18px
            line-height: 27px
            color: $white
            transition: text-decoration .3s

            &:hover
              text-decoration: underline !important          
          .block_flex
            display: flex
            align-items: flex-start
            grid-gap: 10px
            svg
              margin-top: 5px
            .numbers
              display: flex
              flex-direction: column
              grid-gap: 9px

    
    .footer_left
      min-width: 153px
      max-width: 170px
    
    .footer_right
      display: flex
      align-items: flex-start
      justify-content: space-between
      width: 100%
      .footer_block
        &:nth-of-type(2)
          ul
            grid-gap: 24px
        &:last-child
          ul
            flex-direction: row
            grid-gap: 16px
            li
              a
                +flex_2
                width: 54px
                height: 54px
                border: 1px solid $white
                border-radius: 50%
                transition: background .3s
                svg
                  path
                    transition: fill .3s
                
                &:hover
                  background-color: $white
                  svg
                    path
                      fill: $blue

          
