header
  position: relative
  z-index: 55
  background-color: $blue
  padding: 12px 0
  .header_main_container
    +flex_1
    ul
      +flex_1
      grid-gap: 48px
      li
        a
          +o-r
          font-size: 18px
          line-height: 27px
          color: $white
          position: relative
          &::before
            content: ''
            position: absolute
            left: 0
            bottom: -2px
            width: 100%
            height: 1px
            background-color: $white
            opacity: 0
            visibility: hidden
            transition: opacity .3s
          &:hover
            &::before
              opacity: 1
              visibility: visible

      .h-lang 
        position: relative
        -webkit-transition: all .3s
        transition: all .3s
        &.hide
          opacity: 0
          pointer-events: none

        .h-lang-link 
          position: relative
          display: flex
          +o-r
          font-size: 18px
          line-height: 27px
          color: $white
          text-transform: uppercase
          align-items:  center
          grid-column-gap: 10px

          img
            -webkit-transition: all .3s
            transition: all .3s
          
          &.drop_active
            img
              transform: rotate(180deg)  

        .h-lang-list 
          position: absolute
          background-color: $white
          margin-top: 11px
          border-radius: 3px
          border: 1px solid #f2f2f2
          -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1)
          box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1)
          overflow: hidden
          list-style-type: none
          margin-left: -5px
          top: 100%
          padding: 8px
          display: none
          &.active
            display: block

          li
            &:last-child 
              border-top: 1px solid #eeeeee
              margin-top: 3px
            a
              +o-r
              text-transform: uppercase
              font-size: 12px
              color: $blue
              width: 100%
              display: block
              text-decoration: none
              padding: 6px 8px
              white-space: nowrap

