// Base fonts

$o-b:   'o-b',   Arial,   sans-serif
$o-r:   'o-r',   Arial,   sans-serif



// Base colors

$white:                   #ffffff
$link_blue:               #F6F9FF
$blue:                    #002147
$blue2:                   #012443
$red:                     #9B0C23
$text_blue:               #001833
$gray:                    #E6E6E6
$background_blue:         #E3F3FD



// Base Flex

=flex_1
	display: flex
	align-items: center
	justify-content: space-between

=flex_2
	display: flex
	align-items: center
	justify-content: center

=flex_3
	display: flex
	justify-content: flex-end	
	align-items: center	

=flex_4
	display: flex
	flex-direction: column

// Base default

=btn_default
	background: none
	outline: none
	border: none
	cursor: pointer

=img_contain
	width: 100%
	height: 100%
	object-fit: contain

=img_cover
	width: 100%
	height: 100%
	object-fit: cover


// Base mixin

=o-b
	font-family: $o-b
	font-weight: 400

=o-r
	font-family: $o-r
	font-weight: 400


