@import '_fonts'
@import '_vars'
@import '_header'
@import '_footer'
@import '_index'
@import '_about'
@import '_fag'
@import '_responsive'

body
  background-color: $white

section
  min-height: 100vh
  +flex_4

button
  +btn_default


.same_landing
  position: relative
  background-attachment: fixed
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  +flex_2
  height: 560px
  width: 100%
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(0, 33, 71, 0.5)

  .container
    z-index: 2
    .row
      p
        +o-r
        font-size: 64px
        line-height: 72px
        color: $white
        text-align: center


.row
  > *
    padding-right: 0
    padding-left: 0
