@font-face {
  font-family: "o-b";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "o-r";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

header {
  position: relative;
  z-index: 55;
  background-color: #002147;
  padding: 12px 0;
}

header .header_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_main_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 48px;
}

header .header_main_container ul li a {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  position: relative;
}

header .header_main_container ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

header .header_main_container ul li a:hover::before {
  opacity: 1;
  visibility: visible;
}

header .header_main_container ul .h-lang {
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .header_main_container ul .h-lang.hide {
  opacity: 0;
  pointer-events: none;
}

header .header_main_container ul .h-lang .h-lang-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 10px;
}

header .header_main_container ul .h-lang .h-lang-link img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .header_main_container ul .h-lang .h-lang-link.drop_active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .header_main_container ul .h-lang .h-lang-list {
  position: absolute;
  background-color: #ffffff;
  margin-top: 11px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  list-style-type: none;
  margin-left: -5px;
  top: 100%;
  padding: 8px;
  display: none;
}

header .header_main_container ul .h-lang .h-lang-list.active {
  display: block;
}

header .header_main_container ul .h-lang .h-lang-list li:last-child {
  border-top: 1px solid #eeeeee;
  margin-top: 3px;
}

header .header_main_container ul .h-lang .h-lang-list li a {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: #002147;
  width: 100%;
  display: block;
  text-decoration: none;
  padding: 6px 8px;
  white-space: nowrap;
}

footer {
  padding: 72px 0;
  background-color: #002147;
  margin-top: auto;
}

footer .footer_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 150px;
}

footer .footer_main_container .footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 32px;
}

footer .footer_main_container .footer_block p.heading_block {
  font-family: "o-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

footer .footer_main_container .footer_block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 12px;
}

footer .footer_main_container .footer_block ul li a {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  -webkit-transition: -webkit-text-decoration .3s;
  transition: -webkit-text-decoration .3s;
  transition: text-decoration .3s;
  transition: text-decoration .3s, -webkit-text-decoration .3s;
}

footer .footer_main_container .footer_block ul li a:hover {
  text-decoration: underline !important;
}

footer .footer_main_container .footer_block ul li .block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 10px;
}

footer .footer_main_container .footer_block ul li .block_flex svg {
  margin-top: 5px;
}

footer .footer_main_container .footer_block ul li .block_flex .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 9px;
}

footer .footer_main_container .footer_left {
  min-width: 153px;
  max-width: 170px;
}

footer .footer_main_container .footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer .footer_main_container .footer_right .footer_block:nth-of-type(2) ul {
  grid-gap: 24px;
}

footer .footer_main_container .footer_right .footer_block:last-child ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-gap: 16px;
}

footer .footer_main_container .footer_right .footer_block:last-child ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 54px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: background .3s;
  transition: background .3s;
}

footer .footer_main_container .footer_right .footer_block:last-child ul li a svg path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

footer .footer_main_container .footer_right .footer_block:last-child ul li a:hover {
  background-color: #ffffff;
}

footer .footer_main_container .footer_right .footer_block:last-child ul li a:hover svg path {
  fill: #002147;
}

section.about .same_landing {
  background-image: url("../img/about_landing.jpg");
}

section.about .about_main_box {
  display: -ms-grid;
  display: grid;
  grid-gap: 122px;
  padding: 105px 0 190px;
}

section.about .about_main_box .single_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about .about_main_box .single_about .single_img {
  width: 486px;
  height: 420px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  z-index: 5;
  margin-right: -75px;
}

section.about .about_main_box .single_about .single_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.about .about_main_box .single_about .single_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 24px;
  color: #ffffff;
  background-color: #002147;
  padding: 32px 0 112px;
  padding-left: 102px;
  padding-right: 32px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

section.about .about_main_box .single_about .single_content p.head_content {
  font-family: "o-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

section.about .about_main_box .single_about .single_content p.body_content {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

section.about .about_main_box .single_about:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.about .about_main_box .single_about:nth-of-type(2n) .single_img {
  margin-right: unset;
  margin-left: -75px;
}

section.about .about_main_box .single_about:nth-of-type(2n) .single_content {
  padding-left: 32px;
  padding-right: 102px;
}

section.about .swiper .swiper-slide .slide_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.about .swiper .swiper-slide .slide_inner .slide_img {
  width: 485px;
  height: 512px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

section.about .swiper .swiper-slide .slide_inner .slide_img img {
  width: 100%;
  height: 100%;
}

section.about .swiper .swiper-slide .slide_inner .slide_content {
  padding: 32px 32px 80px 25px;
  background-color: #002147;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

section.about .swiper .swiper-slide .slide_inner .slide_content p {
  color: #ffffff;
}

section.about .swiper .swiper-slide .slide_inner .slide_content .slide_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 4px;
  margin-bottom: 24px;
}

section.about .swiper .swiper-slide .slide_inner .slide_content .slide_heading p.name_person {
  font-family: "o-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

section.about .swiper .swiper-slide .slide_inner .slide_content .slide_heading p.qual_person {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

section.about .swiper .swiper-slide .slide_inner .slide_content p.content_text {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

section.about .swiper_help_pagination_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 90px;
}

section.about .swiper_help_pagination_navigation .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 16px;
  position: relative;
  bottom: unset;
  top: 0;
}

section.about .swiper_help_pagination_navigation .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
  width: 36px;
  height: 6px;
  border-radius: 0;
  background-color: #002147;
  opacity: .7;
}

section.about .swiper_help_pagination_navigation .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

section.about .swiper_help_pagination_navigation .swiper_btn {
  width: 22px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.about .swiper_help_pagination_navigation .swiper_btn.swiper-next-button {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

section.about .swiper_help_pagination_navigation .swiper_btn.swiper-button-disabled {
  opacity: .3;
}

section.fag .fag_landing {
  background-image: url("../img/fag_landing.png");
}

section.fag .fag_ul_box {
  margin: 72px auto;
  max-width: 1000px;
}

section.fag .fag_ul_box ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 32px;
}

section.fag .fag_ul_box ul li {
  border: 2px solid #012443;
  border-radius: 6px;
}

section.fag .fag_ul_box ul li .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 22px;
  cursor: pointer;
}

section.fag .fag_ul_box ul li .link p.link_accordion {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #012443;
}

section.fag .fag_ul_box ul li .link button {
  background-image: url("../img/plus.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

section.fag .fag_ul_box ul li .submenu {
  display: none;
  padding: 0 80px 48px 22px;
}

section.fag .fag_ul_box ul li .submenu .submenu_inner {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #001833;
}

section.fag .fag_ul_box ul li.open {
  background: #F6F9FF;
}

section.fag .fag_ul_box ul li.open .link button {
  background-image: url("../img/minus.svg");
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

body {
  background-color: #ffffff;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.same_landing {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 560px;
  width: 100%;
}

.same_landing::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 33, 71, 0.5);
}

.same_landing .container {
  z-index: 2;
}

.same_landing .container .row p {
  font-family: "o-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  text-align: center;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}
/*# sourceMappingURL=common.css.map */